
@media only screen and (max-width : 480px) {
     #mygrid {
        display: -ms-grid;
        margin: 3px;
        -ms-grid-column: 100%;
        -ms-grid-rows: 70px auto auto auto;
    }
    
    #myheader {
        -ms-grid-rows: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        text-align: center;
        background-color: #EEB215;
    }
    
    #block1 {
        -ms-grid-rows: 2;
        -ms-grid-column: 1;
        background-color: #B2B0B0;
    }
    #block2 {
        -ms-grid-rows: 3;
        -ms-grid-column: 1;
        background-color: #726E6E;
    }
    #block3 {
        -ms-grid-rows: 4;
        -ms-grid-column: 1;
        background-color: #515050;
    }
    div{
        margin-top: -5.5%;
    }
}

@media only screen and (min-width : 480px) {
    #mygrid {
        display: -ms-grid;
        -ms-grid-column: 10px 1fr 10px 1fr 10px;
        -ms-grid-rows: 70px auto auto auto;
        margin: 5px;
    }
    
    #myheader {
        -ms-grid-rows: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        text-align: center;

        background-color: #EEB215;
    }
    
    #block1 {
        -ms-grid-rows: 2;
        -ms-grid-column: 2;
        background-color: #B2B0B0;
    }
    #block2 {
        -ms-grid-rows: 3;
        -ms-grid-column: 2;
        background-color: #726E6E;
    }
    #block3 {
        -ms-grid-rows: 2;
        -ms-grid-column: 4;
        background-color: #515050;
    }
    div{
        margin-top: -2.65%;
    }
    
} 

@media only screen and (min-width : 1220px) {
    #mygrid {
        display: -ms-grid;
        -ms-grid-column:1fr 10px 1fr 10px 1fr;
        -ms-grid-rows: 100px 1fr;
        margin: 5px;
    }
    
    #myheader {
        -ms-grid-rows: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        text-align: center;
        background-color: #EEB215;
    }
    
    #block1 {
        -ms-grid-rows: 2;
        -ms-grid-column: 1;
        background-color: #B2B0B0;
    }
    #block2 {
        -ms-grid-rows: 2;
        -ms-grid-column: 3;
        background-color: #726E6E;
    }
    #block3 {
        -ms-grid-rows: 2;
        -ms-grid-column: 5;
        background-color: #515050;
    }
    div{
        margin-top: -1.4%;
    }
}